/* ProfileStatus.module.css */

.ProfileStatus {
    margin-top: 0.5rem;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    min-height: 28px;
}

.editStatus {
    font-size: 0.8rem;
    color: white;
    opacity: 0.5;
}

.status {
    font-size: 0.9rem;
    color: white;
    opacity: 0.8;
}

.statusRemove {
    font-size: 0.8rem;
    color: white;
    opacity: 0.5;
}