.nav {
    background-color: #222;
    padding: 1rem;
    width: 20vh;
    position: relative;

}

.activePanelBtn {
    margin-top: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.activePanelBtn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}
.panerArrow {
    font-size: 1rem;
}

.linkList {
    display: flex;
    flex-direction: column;
}

.item {
    padding: 1rem;
    color: white;
}

.navTop {
    padding: 0;
    width: auto;
    background-color: #2b2b2b;

    margin-left: 2rem;
}

.ulTop {
    flex-direction: row;

}

.item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.activePanelBtnTop {
    margin-left: 5rem;
}

.active {
    background-color: rgba(0, 0, 0, 0.4);
}